/* global clear */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 8px;
    font-family: Arial;
    font-size: 16px;
    background: #f0f0f0;
}

.red-dot {
    color: red;
}

/* second page styles */

body.second-page header {
    margin-bottom: 0;
}

body.second-page header .container {
    padding-bottom: 25px;
}

/* button */

.button {
    padding: 10px 15px;
    /* palette??? wtf??? */
    background: transparent;
    border-radius: 16px;
    box-shadow: 0 0 1px 1px goldenrod;
    border: none;
    font-size: 19px;
    cursor: pointer;
    transition: .4s ease;
    text-decoration: none;
    color: goldenrod;
    display: inline-block;
    text-align: center;
}

.button-filled {
    box-shadow: none;
    background: goldenrod;
    color: #f1f1f1;
}

.button-big {
    font-weight: 500;
    font-size: 28px;
    padding: 20px 45px;
}

.button-outlined:hover {
    box-shadow: none;
}

.button-filled:hover {
    box-shadow: 0 0 1px 1px goldenrod;
}

/* header */

:root {
    --container-width: 100%;
    --common-border-radius: 16px;
}

header .container {
    max-width: var(--container-width);
    display: flex;
    padding: 25px 25px 45px;
    margin: 0 auto;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
    border-radius: var(--common-border-radius);
    margin-bottom: -20px;
}


.header__left--menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    gap: 40px;
}

.header__left {
    flex: 1 0 auto;
    align-items: center;
    display: flex;
}

.header__right {
    flex: 1 0 auto;
    justify-content: flex-end;
    display: flex;
    gap: 20px;
}

.header__left--menu ul li {
    list-style: none;
}

.header__left--menu ul li a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.header__left--menu ul li:hover a {
    text-decoration: underline;
}

.header__left--logo a {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    transition: color .4s ease-in-out;
}

.header__left--logo a:hover {
    color: #666;
}

.header__left {
    display: flex;
}

.header__left--logo {
    margin-right: 40px;
}

/* accumulation */

.accumulation {
    background-size: cover;
    min-height: calc(100vh - 116px);
    display: flex;
    border-radius: var(--common-border-radius);
    position: relative;
    background: #fff;
    justify-content: space-between;
}

.accumulation__left {
    margin-top: 45px;
}

.accumulation__left h1 {
    color: #232323;
    font-size: 64px;
}

.accumulation__left h2 {
    color: #232323;
    font-size: 36px;
}

.accumulation__demo--heading {
    text-align: center;
    color: #fff;
}

.accumulation__demo--blocks {
    border-radius: 32px;
    background: #232323;
    color: #e2e2e2;
    display: flex;
    padding: 140px 0 0;
}

.accumulation__demo--block span {
    font-size: 60px;
    color: inherit;
    line-height: normal;
    font-weight: bold;
    /* letter-spacing: 0.055em; */
}

.accumulation__demo--block {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    padding: 0 57px 24px;
    gap: 22px;
}

.accumulation__demo--block b {
    color: inherit;
    font-size: 36px;
    max-width: 180px;
    font-weight: lighter;
}

.accumulation__demo--form {
    padding: 24px 60px;
    background: #232323;
    border-radius: 32px;
    margin-top: 20px;
}

.accumulation__demo--form form {
    display: flex;
    gap: 60px;
}

.accumulation__demo--form--block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.accumulation__demo--form--block label {
    font-size: 24px;
    color: #fff;
}

.accumulation__demo--form--block input {
    padding: 15px 35px;
    border-radius: 48px;
    border: none;
}
.accumulation__right {
    padding: 20px;
    width: 45%;
}

.accumulation__right img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-fit: cover;
}

.accumulation__left {
    padding: 40px;
    width: 55%;
}

/* search */

.search .container {
    padding: 0 24px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1430px;
}

.search__content {
    border-radius: var(--common-border-radius);
    padding: 48px;
    background: #fff;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.search__container--filter {
    margin-bottom: 32px;
    display: flex;
    gap: 16px;
}

.search__container--rows {
    display: flex;
    gap: 48px;
    margin-bottom: 45px;
    justify-content: space-between;
}

.search__container--departure {
    display: flex;
    align-items: center;
    gap: 24px;
}

.search__container--departure--block {
    display: flex;
    flex-direction: column;
}

.search__container--departure--block label {
    color: #363636;
    font-size: 17px;
    margin-bottom: 10px;
}

.search__container--departure--block input {
    padding: 18px 64px 18px 24px;
    border-radius: 16px;
    border: none;
    background: #eeeeee;
}

.search__container--departure--block span {
    font-size: 16px;
    white-space: nowrap;
    margin-top: 10px;
}

.search {
    padding: 148px 0;
    border-radius: var(--common-border-radius);
}

.search__button {
    margin: -16px auto 0px;
}

.search__container--form form {
    display: flex;
    gap: 24px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.search__container--form--block {
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    height: 100%;
    /* align-items: center; */
    gap: 8px;
}

.search__container--form--block label {
    color: #363636;
    font-size: 17px;
}


.search__container--form--block input {
    padding: 18px 64px 18px 24px;
    border-radius: 16px;
    border: none;
    background: #eee;
    text-align: center;
}


.search__container--row {
    align-items: center;
    display: flex;
    /* height: 100%; */
    flex: 0 1 auto;
    justify-content: center;
}

.search__container--form {
    height: 100%;
    flex: 0 1 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: -12px;
}


.search__heading {
    padding: 0 40px;
    font-size: 28px;
}


/* trust */

.trust {
    background: #fff;
    border-radius: var(--common-border-radius);
    height: 100vh;
}

.trust .container {
    /* max-width: 1600px; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.trust__heading {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 19px;
}

.trust__content {
    text-align: center;
    padding: 20px;
}

.trust__content--text {
    font-size: 22px;
    color: #606060;
}

.trust__content--button {
    margin-top: 64px;
}

.trust__content--button span {
    font-size: 26px;
    color: #a0a0a0;
}

.trust__block img {
    width: 220px;
    height: 360px;
    border-radius: 128px;
    object-fit: cover;
    margin: 0 20px;
}

.trust__block {
    /* flex: 1 0 auto; */
    gap: 24px;
    display: flex;
    flex-direction: column;
    margin: 0 0px;
}

.trust__middle {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trust__left {
    display: flex;
    gap: 24px;
    margin-left: -10vw;
}

.trust__right {
    display: flex;
    gap: 24px;
    margin-right: -10vw;
}

/* promotions */

.promotions__heading span {
    white-space: nowrap;
    font-size: 64px;
    color: #232323;
    font-weight: bold;
}

.promotions__heading {
    margin: 50px 24px 32px;
}

.promotions {
    padding: 64px 36px 128px;
}

.promotions__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
    gap: 24px;
}

.promotions__list--card {
    background: #fff;
    padding: 24px;
    border-radius: var(--common-border-radius);
    width: 49%;
}

.promotions__list--card img {
    width: 100%;
    height: 256px;
    border-radius: var(--common-border-radius);
    object-fit: cover;
    margin-bottom: 24px;
}

.promotions__list--card b {
    font-size: 32px;
}


.promotions__list--card p {
    font-size: 18px;
}

.promotions .container {
    max-width: 1600px;
    margin: 0 auto;
}

/* subscribe */

.subscribe {
    padding: 0 36px;
}

.subscribe__form form {
    display: flex;
    width: 100%;
    gap: 24px;
}

.subscribe__form--input {
    width: 100%;
}

.subscribe__form--label {
    width: 100%;
}

.subscribe__form--input input {
    width: 100%;
    padding: 20px 32px;
    border: none;
    border-radius: var(--common-border-radius);
    font-size: 21px;
}

.subscribe__hint {
    margin-top: 15px;
    padding-left: 28px;
    font-size: 17px;
    color: rgba(0, 0, 0, .5);
}

.subscribe__heading {
    padding-left: 28px;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 24px;
}

.subscribe .container {
    max-width: 1330px;
    margin: 0 auto;
}

/* footer */

footer {
    border-radius: var(--common-border-radius);
    background: url('../images/im-196106.jpeg') no-repeat center;
    background-size: cover;
    padding: 64px 0;
    position: relative;
}

.footer__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--common-border-radius);
}

footer .container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1920px;
    padding: 25px 45px 45px;
    position: relative;
}

.footer__info {
    width: 22%;
}

.footer__menu {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer__info span {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

.footer__info p {
    font-size: 19px;
    color: #fff;
}

.footer__menu--block b {
    font-size: 26px;
    color: #fff;
}

.footer__menu--block ul {
    padding: 0;
    margin: 20px 0;
}

.footer__menu--block ul li {
    list-style: none;
}

.footer__menu--block ul li:not(:last-child) {
    margin-bottom: 16px;
}

.footer__menu--block ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.footer__subscribe form {
    position: relative;
}

.footer__subscribe form button {
    position: absolute;
    top: 11px;
    right: 14px;
}

.footer__subscribe span {
    margin-top: 20px;
    display: block;
    color: #eee;
    font-size: 14px;
    margin-left: 32px;
}

.footer__menu--block ul li a:hover {
    text-decoration: underline;
}

/* search second page */

.search-second-page {
    padding: 50px;
}

.search-second-page .container {
    max-width: 88%;
}

.search-list .container {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;

    flex-direction: column;
    gap: 36px;
}

.search-list {
    padding-bottom: 64px;
}

.search-list__card {
    background: #fff;
    padding: 48px;
    display: flex;
    border-radius: var(--common-border-radius);
    gap: 48px;
}

.search-list__card--left {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 0 auto;
    justify-content: center;
    gap: 15px;
}

.search-list__card--left b {
    font-size: 47px;
}

.search-list__card--title {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.search-list__card--row {
    display: flex;
    margin-top: 36px;
    width: 100%;
    justify-content: space-between;
}

.search-list__card--row--block {
    display: flex;
    flex-direction: column;
}

.search-list__card--row--block span {
    font-size: 18px;
}

.search-list__card--row--block b {
    font-size: 59px;
}

.search-list__card--right {
    width: 100%;
}

.search-list__card--row--block small {
    font-size: 19px;
}

.search-list__card--probability {
    width: 100%;
    background: red;
    height: 24px;
    border-radius: 128px;
}

.search-list__card--probability.probability-orange {
    background: radial-gradient(circle at 10% 20%, rgb(251, 221, 19) 0.1%, rgb(255, 153, 1) 90%);
}

.search-list__card--probability.probability-red {
    background: radial-gradient(circle at 10% 20%, rgb(221, 49, 49) 0%, rgb(119, 0, 0) 90%);
}

.search-list__card--probability.probability-green {
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

.search-list__card--footer {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.search-list__card--footer--percentage {
    width: 100%;
    display: flex;
    gap: 16px;
}

/* login page */

.login-page .container {
    display: flex;
    height: 100%;
}

.login-page {
    background: #fff;
    height: 95vh;
    border-radius: var(--common-border-radius);
    max-width: 1700px;
    margin: auto;
    margin-top: 30px;
}

.login-page__right {
    width: 40%;
    height: 100%;
    border-radius: var(--common-border-radius);
}

.login-page__right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--common-border-radius);
}

.login-page__left {
    width: 60%;
    /* padding: 180px; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login-page__heading h1 {
    font-size: 48px;
    margin-bottom: 15px;
    margin-top: 0;
}

.login-page__heading span {
    font-size: 24px;
}

.login-page__heading {
    text-align: left;
}

.login-page__form {
    margin-top: 64px;
    width: 60%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-page__form form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-group input {
    border: 1px solid #d8d8d8;
    padding: 16px;
    border-radius: 32px;
}

.login-page__register {
    text-align: center;
}

.login-page__register a {
    color: #000;
}

/* register page */

.register-page .container {
    display: flex;
    height: 100%;
}

.register-page {
    background: #fff;
    height: 95vh;
    border-radius: var(--common-border-radius);
    max-width: 1700px;
    margin: auto;
    margin-top: 30px;
}

.register-page__right {
    width: 40%;
    height: 100%;
    border-radius: var(--common-border-radius);
}

.register-page__right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--common-border-radius);
}

.register-page__left {
    width: 60%;
    /* padding: 180px; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.register-page__heading {
    text-align: left;
}

.register-page__heading h1 {
    font-size: 48px;
    margin-bottom: 15px;
    margin-top: 0;
}

.register-page__heading span {
    font-size: 24px;
}

.register-page__form {
    margin-top: 64px;
    width: 50%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.register-page__form form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-group input {
    border: 1px solid #d8d8d8;
    padding: 16px;
    border-radius: 32px;
}

.register-page__register {
    text-align: center;
}

.register-page__register a {
    color: #000;
}

/* seats info */

.aircraft-info {
    background: #fff;
    margin: 64px;
    border-radius: var(--common-border-radius);
}

.aircraft-info .container {
    display: flex;
    padding: 48px;
}

.aircraft-info__left svg {
    width: 100%;
    height: 100%;
}

.aircraft-info__left {
    width: 20%;
    transform: rotate(-25deg);
}

.aircraft-info__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aircraft-info__right h3 {
    margin-bottom: 0px;
    font-size: 33px;
    margin-top: 0px;
}

.aircraft-info__right h3 {}

.aircraft-info__right p {
    font-size: 18px;
}

.seats {
    max-width: 600px;
    margin: 0 auto;
    background: goldenrod;
    margin-bottom: 120px;
    border-radius: var(--common-border-radius);
}

.seats__row {
    display: flex;
    justify-content: space-between;
}

.seats .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px;
    gap: 16px;
}

.seats__item {
    width: 64px;
    height: 64px;
    background: #fff;
    border: none;
    transition: opacity .4s ease;
    cursor: pointer;
    color: #232323;
    font-size: 24px;
    border-radius: calc(var(--common-border-radius)*2);
}

.seats__row--left, .seats__row--right {
    gap: 16px;
    display: flex;
}

.seats__item:hover {
    opacity: .6;
}
